<h3>商品一覧</h3>
<%= link_to new_admin_item_path, class: "btn btn-light rounded-circle shadow ", style: "width:3rem;height:3rem;" do %>
  <div class="d-flex align-items-center justify-content-center h3 ">＋</div>
<% end %>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
         <%= item.id %>
        </td>
        <td>
          <%= link_to item.name, admin_item_path(item.id) %>
        </td>
        <td>
          <%= item.price %>
        </td>
        <td>
          <%= item.genre.name %>
        </td>
        <td>
          <%= item.is_active ? '販売中' : '販売停止中' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>