<div class="container">
  <div class="row my-4">
    <div class="col-md-4">
      <h3>商品詳細</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag @item.image, size: "300x200" %>
    </div>
    <div class="col-md-6">

      <div class="form-group row">
        <div class="col-md-3 col-form-label">
          <p>商品名</p>
        </div>
        <div class="col-md-9 col-form-label">
          <span class="h5"><%= @item.name %></span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3 col-form-label">
          <p>商品説明</p>
        </div>
        <div class="col-md-9 col-form-label">
          <span class="h5"><%= @item.introduction %></span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3 col-form-label">
          <p>ジャンル</p>
        </div>
        <div class="col-md-9 col-form-label">
          <span class="h5"><%= @item.genre.name %></span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3 col-form-label">
          <p>税込価格<br>(税抜価格)</p>
        </div>
        <div class="col-md-9 col-form-label d-flex align-items-center">
          <span class="h5"><%= @item.with_tax_price.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>)円</span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3 col-form-label">
          <p>販売ステータス</p>
        </div>
        <div class="col-md-9 col-form-label">
          <% if @item.is_active == true %>
          <span class="text-success h5"><strong>販売中</strong></span>
          <% else %>
          <span class="text-black-50 h5"><strong>販売停止中</strong></span>
          <% end %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6 text-center">
           <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success w-100" %>
        </div>
      </div>

    </div>
  </div>
</div>