<div class="container position-relative" style="background-image: url('<%= asset_path("cake_top.jpg") %>'); background-size: cover; height: 800px; width: 1200px;">
  <div class="position-absolute" style="width: 600px; height: 250px; margin:330px 0 0 300px; background-color: rgba(255,255,255,0.5)">
    <p class="h4 font-weight-light pt-4" style="padding: 20px; line-height: 2;">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員ではない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>
  </div>
</div>

<h3>新着商品</h3>

<% @items.first(4).each do |item| %>

<%= link_to item_path(item.id) do %>
  <div>
    <%= image_tag item.image, size: "250x180" %>
    <p><%= item.name %></p>
    <p>¥<%= item.price %> </p>
  </div>
<% end %>
<% end %>

<details>
  <summary>全ての商品を見る ></summary>
  <% @items[4..100].each do |item| %>

  <%= link_to item_path(item.id) do %>
  <div>
    <%= image_tag item.image, size: "250x180" %>
    <p><%= item.name %></p>
    <p>¥<%= item.price %></p>
  </div>
  <% end %>
  <% end %>
</details>