<div class="container-fluid">
  <div class="row mx-4 pt-5">
    <%= render 'public/items/genres_list', genres:@genres %>
    <div class="col-md-9 offset-md-1">
      <div class="position-relative" style="background-image: url('<%= asset_path("cake_top.jpg") %>'); background-size: cover; height: 500px; width: 900px;">
        <div class="position-absolute" style="width: 550px; height: 210px; margin:200px 0 0 200px; background-color: rgba(255,255,255,0.5)">
          <p class="h5 font-weight-light pt-4" style="padding: 20px; line-height: 2;">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員ではない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
      <div class="mt-2">
        <h3>新着商品</h3>
      </div>

      <div class="d-flex flex-wrap">
        <% @items.first(4).each do |item| %>

          <%= link_to item_path(item.id) do %>
            <div class="mx-2">
              <%= image_tag item.image, size: "250x180" %>
              <p class="mt-2"><%= item.name %></p>
              <p>¥<%= item.with_tax_price.to_s(:delimited) %> </p>
            </div>
          <% end %>
        <% end %>

        <details>
          <summary>全ての商品を見る ></summary>
          <div class="d-flex flex-wrap">
            <% @items[4..100].each do |item| %>

            <%= link_to item_path(item.id) do %>
              <div class="mx-2">
                <%= image_tag item.image, size: "250x180" %>
                <p class="mt-2"><%= item.name %></p>
                <p>¥<%= item.with_tax_price.to_s(:delimited) %></p>
              </div>
            <% end %>
            <% end %>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>