<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <h3><%= @customer.name_display %>さんの会員情報編集</h3>
    </div>
  </div>

  <div class="my-3">
    <div class="row">
      <div class="col-md-3 col-form-label">
        <p>会員ID</p>
      </div>
      <div class="col-md-9 col-form-label">
        <span><%= @customer.id %></span>
      </div>
    </div>
    <%= form_with model: @customer, url: admin_customer_path do |f| %>
      <div class="form-group row">
        <div class="col-md-3">
          <p class="col-form-label">名前</p>
        </div>
        <div class="col-md-9">
          <%= f.text_field :last_name, placeholder: "姓", class: "mr-4" %>
          <%= f.text_field :first_name, placeholder: "名" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <p class="col-form-label">フリガナ</p>
        </div>
        <div class="col-md-9">
          <%= f.text_field :last_name_kana, class: "mr-4" %>
          <%= f.text_field :first_name_kana %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :postal_code, "郵便番号", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :postal_code %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :address, "住所", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :address, size: "50" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :telephone_number, "電話番号", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :telephone_number %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :email, "メールアドレス", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3 col-form-label">
          <p>会員ステータス</p>
        </div>
        <div class="col-md-9">
          <%= f.radio_button :is_deleted, :false %>
          <%= f.label :is_deleted_false, "有効", class: "mr-4" %>
          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_deleted_true, "退会" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3 text-center"></div>
        <div class="col-md-9">
          <%= f.submit "変更を保存", class: "btn btn-success px-5" %>
        </div>
      </div>
    <% end %>
  </div>
</div>