<div class="container">
  <div class="row my-4">
    <div class="col-md-4">
      <h3><%= @customer.name_display %>さんの会員詳細</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-form-label">
      <p>会員ID</p>
    </div>
    <div class="col-md-9 col-form-label">
      <span><%= @customer.id %></span>
    </div>

    <div class="col-md-3 col-form-label">
      <p>氏名</p>
    </div>
    <div class="col-md-9 col-form-label">
      <span><%= @customer.last_name %>　<%= @customer.first_name %></span>
    </div>

    <div class="col-md-3 col-form-label">
      <p>フリガナ</p>
    </div>
    <div class="col-md-9 col-form-label">
      <span><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></span>
    </div>

    <div class="col-md-3 col-form-label">
      <p>郵便番号</p>
    </div>
    <div class="col-md-9 col-form-label">
      <span><%= @customer.postal_code %></span>
    </div>

    <div class="col-md-3 col-form-label">
      <p>住所</p>
    </div>
    <div class="col-md-9 col-form-label">
      <span><%= @customer.address %></span>
    </div>

    <div class="col-md-3 col-form-label">
      <p>電話番号</p>
    </div>
    <div class="col-md-9 col-form-label">
      <span><%= @customer.telephone_number %></span>
    </div>

    <div class="col-md-3 col-form-label">
      <p>メールアドレス</p>
    </div>
    <div class="col-md-9 col-form-label">
      <span><%= @customer.email %></span>
    </div>

    <div class="col-md-3 col-form-label">
      <p>会員ステータス</p>
    </div>
    <div class="col-md-9 col-form-label">
      <% if @customer.is_deleted == false %>
      <span class="text-success"><strong>有効</strong></span>
      <% else %>
      <span class="text-black-50"><strong>退会</strong></span>
      <% end %>
    </div>

    <div class="col-md-3 col-form-label">
    </div>
    <div class="col-md-9 col-form-label">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success col-md-3" %>
      <%= link_to "注文履歴一覧を見る", admin_path, class: "btn btn-primary col-md-4 ml-4" %>
    </div>
  </div>
</div>
