<h4>注文履歴詳細</h4>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h5>購入者</h5>
    </div>
    <div class="col-md-10">
      <p><%= @order.customer.name_display %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h5>注文日</h5>
    </div>
    <div class="col-md-10">
      <p><%= @order.created_at.strftime('%Y/%m/%d') %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h5>配送先</h5>
    </div>
    <div class="col-md-10">
      <p>〒<%= @order.postal_code %> <%= @order.address %><br>
      <%= @order.name %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h5>支払方法</h5>
    </div>
    <div class="col-md-10">
      <p><%= @order.payment_method_i18n %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h5>注文ステータス</h5>
    </div>
    <div class="col-md-10">
      <%= form_with model: @order, url: admin_order_path  do |f| %>
        <p><%= f.select :status, Order.statuses_i18n.invert, {prompt: false} %></p>
        <%= f.submit "更新" %>
      <% end %>
    </div>
  </div>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% total = 0 %>
      <% @order.order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.price.to_s(:delimited) %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.subtotal.to_s(:delimited) %></td>
          <%= form_with model: order_detail, url: admin_order_order_detail_path(@order,order_detail), method: :patch do |f| %>
            <td><%= f.select :making_status, OrderDetail.making_statuses_i18n.invert, {prompt: false} %></td>
            <td><%= f.submit "更新" %></td>
          <% end %>
        </tr>
        <% total += order_detail.subtotal %>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <div class="row">
    <div class="col">
      <h5>商品合計</h5>
    </div>
    <div class="col">
      <p><%= total.to_s(:delimited) %>円</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>送料</h5>
    </div>
    <div class="col">
      <p><%= @order.shipping_cost %>円</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>請求金額合計</h5>
    </div>
    <div class="col">
      <p><%= @order.total_payment.to_s(:delimited) %>円</p>
    </div>
  </div>
</div>