<h3>ジャンル一覧・追加</h3>

<%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
  <h4>ジャンル名</h4>
  <%= f.text_field :name %>
  <%= f.submit '新規登録' %>
<% end %>

<h3>ジャンル</h3>

<% @genres.each do |genre| %>
  <%= genre.name %>
  <%= link_to "編集する", edit_admin_genre_path(genre.id) %>
<% end %>
