<h4><%= @list_name %></h4>
<table>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= link_to admin_order_path(order) do %>
            <%= l order.created_at %>
          <% end %>
        </td>
        <%= form_tag admin_path, method: :get do %>
          <td><%= link_to order.customer.name_display, admin_path(email: order.customer.id) %></td>
        <% end %>
        <td>
          <% total = 0 %>
          <% order.order_details.each do |order_detail| %>
            <% order_detail.amount %>
            <% total += order_detail.amount %>
          <% end %>
          <%= total %>
        </td>
        <td>
          <%= order.status_i18n %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
