<div class="container-fluid">
  <div class="row ml-5 mt-4">
    <h3 class="ml-5">注文履歴詳細</h3>
  </div>
  <div class="row ml-5 mt-3">
    <div class="col-md-5">
      <span><strong>注文情報</strong></span>
      <table class="table table-bordered mt-2">
        <tr>
          <td class="table-secondary">注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="table-secondary align-middle">配送先</td>
          <td>
            〒<%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td class="table-secondary">支払方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td class="table-secondary">ステータス</td>
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-2">
      <span><strong>請求情報</strong></span>
      <table class="table table-bordered mt-2">
        <tr>
          <% total = 0 %>
          <% @order.order_details.each do |order_detail| %>
            <% order_detail.subtotal %>
            <% total += order_detail.subtotal %>
          <% end %>
          <td class="table-secondary">商品合計</td>
          <td><%= total.to_s(:delimited) %></td>
        </tr>
        <tr>
          <td class="table-secondary">配送料</td>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <td class="table-secondary"><strong>ご請求額</strong></td>
          <td><%= @order.total_payment.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row ml-5 mt-3">
    <div class="col-md-5">
      <span><strong>注文内容</strong></span>
      <table class="table table-bordered mt-2">
        <thead>
          <tr class="table-secondary">
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.subtotal %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>