<div>
  <%= form_tag items_path, method: :get do %>
    <% @genres.each do |genre| %>
      <%= link_to genre.name, items_path(name: genre.id) %>
    <% end %>
  <% end %>
</div>

<h1><%= @list_name %> (全<%= @items.total_count %>件)</h1>

<% @items.each do |item| %>

  <%= link_to item_path(item.id) do %>
    <div>
      <%= image_tag item.image, size: "270x200" %>
      <p><%= item.name %></p>
      <p>¥<%= item.with_tax_price.to_s(:delimited) %></p>
    </div>
  <% end %>

<% end %>
<%= paginate @items %>