<h1>商品一覧(全<%= @item.count %>件)</h1>

<% @items.each do |item| %>

  <%= link_to item_path(item.id) do %>
    <div>
      <%= image_tag item.image, size: "270x200" %>
      <p><%= item.name %></p>
      <p>¥<%= item.with_tax_price.to_s(:delimited) %></p>
    </div>
  <% end %>

<% end %>
<%= paginate @items %>